


body {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif,"Helvetica Neue",Arial,sans-serif;
    color: rgb(74, 74, 74);
}

.none {
    display: none;
}

.advices-header {
    font-size: 18px;
    font-weight: 600;
}

/*#f78119*/
.advice-list {
    padding-bottom: 20px;
    list-style-type: none;
    font-size: 16px;
    padding-left: 0;
}

.advice-list-item {
    color: rgb(247, 129, 25);
    background-color: #4a4a4a;
    margin: 1px;
    padding: 5px;
}

.sv_q_radiogroup_label {
    cursor: pointer;
}
